{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

{% endblock %}


{% block content %}
<table>
               {% csrf_token %}

    {% for hidden in form.hidden_fields %}
       {{ hidden }}
    {% endfor %}
    <input type="hidden" name="hostid" value="{{host.hostid}}" />

     {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

</table>
{% endblock %}